*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    
    width: 100vw;
    min-height: 100vh;
    background-image: url(./images/home.jpg);
    background-size: cover;
    background-repeat: repeat;

    
    
}
.header{
    
  align-items: center;
    height: 100px;
   justify-content: center;
   display: flex;

}

.main-menu{
    width: 100%;
   display: flex;
}
.menu{
    width: 60%;
}
.login{
width: 40%;
display: flex;
justify-content: center;
margin-top: 50px;
}
.loginform{
    width: 300px;
    border-radius: 30px;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

  .headerTitle{
    color: aliceblue;

    
  }
 
  
  .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    max-width: 100%;
    
  }
  
  .row input{
    width: 80%;
    box-sizing: border-box;
    border: none;
    font-size: 1.1rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
    transition: box-shadow 0.2s ease-in;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    padding: .5rem;
    text-align: left;

  }
  
  .row input:focus{
     box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
     outline: none;
  }
  
  .row input::-webkit-input-placeholder{
    opacity: 1rem;
    transition: opacity 0.25s ease-out;
   
  }
  
  .row input:hover::-webkit-input-placeholder,
  .row input:focus::-webkit-input-placeholder{
    opacity: 0;
  }
  
  .row label{
    align-self: start;
    padding-left: 2.5rem;
    color:white;
    font-size: large;
  }
  
  .row button{
    border-radius: 25px;
    width: 80%;
    height: 40px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
    padding :.5rem;
    margin-bottom: 20px;
    
    display: flex;
    
    justify-content: center;
    text-align: center;

    
  }
  
  .row button:hover{
    opacity: 0.8;
  }

